{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>
        {% if operation == "adicionar" %}
            Adicionar Novo Utilizador
        {% else %}
            Editar Perfil de {{ user.first_name }} {{ user.last_name }}
        {% endif %}
    </h1>
    <hr>

    <form method="post" action="{% if operation == 'editar' %}{% url 'users_edit' user.id %}{% else %}{% url 'users_add' %}{% endif %}">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_first_name">Primeiro Nome</label>
                    {{ form.first_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_last_name">Último Nome</label>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_email">E-mail</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_nif">NIF</label>
                    {{ form.nif }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_phone">Telefone</label>
                    {{ form.phone }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_full_address">Morada</label>
                    {{ form.full_address }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_postal_code">Código Postal</label>
                    {{ form.postal_code }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_city">Cidade</label>
                    {{ form.city }}
                </div>
            </div>
        </div>

        <h5>Opções de Perfil</h5>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="is_staff_switch" name="is_staff_switch" 
                   {% if form.instance.is_staff %}checked{% endif %}>
            <label class="form-check-label ms-2" for="is_staff_switch">Staff</label>
        </div>
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="is_active_switch" name="is_active_switch" 
                   {% if form.instance.is_active %}checked{% endif %}>
            <label class="form-check-label ms-2" for="is_active_switch">Ativo</label>
        </div>
        
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                {% if operation == "adicionar" %}
                    Adicionar
                {% else %}
                    Alterar Dados
                {% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
