{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>{% if review %}Editar Avaliação{% else %}Adicionar Avaliação{% endif %} para a reserva {{ reservation_id }}</h2>
        <div class="row mt-4">
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex align-items-center justify-content">
                        <button type="submit" class="btn btn-primary">
                            {% if review %}Atualizar Avaliação{% else %}Adicionar Avaliação{% endif %}
                        </button>
                        <a href="{% url 'my_reservations' %}" class="btn btn-secondary">Voltar</a>
                        <a href="#" class="btn btn-danger">Apagar</a>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}
