{% extends "base.html" %}

{% block title %}Home - Dream Vacation{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero bg-dark text-white text-center rounded py-5 my-4 mx-auto" style="max-width: 1300px;">
    <div class="container">
        <h1 class="display-4">Desfrute da sua próxima estadia</h1>
        <p class="lead">Planeie e reserve já a sua próxima estadia, informação do destino e inspiração de nós.</p>
        <form class="form-inline justify-content-center mt-4" method="GET" action="{% url 'search_results' %}">
            <!-- Destino -->
            <div class="form-group mr-2">
                <input type="text" name="city" class="form-control" placeholder="Para onde deseja ir?" aria-label="Destination" required>
            </div>
            <!-- Data de Check-in -->
            <div class="form-group mr-2">
                <input type="date" name="checkin" class="form-control" placeholder="Check-in date" aria-label="Check-in date" required>
            </div>
            <!-- Data de Check-out -->
            <div class="form-group mr-2">
                <input type="date" name="checkout" class="form-control" placeholder="Check-out date" aria-label="Check-out date" required>
            </div>
            <!-- Número de Hóspedes -->
            <div class="form-group mr-2">
                <input type="number" name="guests" class="form-control" placeholder="Hóspedes" aria-label="Number of guests" min="1" required>
            </div>
            <!-- Botão de Pesquisa -->
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</section>

<!-- Top 3 Hotels Section -->
<section class="destinations my-5">
    <div class="container">
        <h2>Explore Our Top Hotels</h2>
        <div class="row">
            {% for hotel in top_hotels %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-center">
                    {% if hotel.cover_picture is None %}
                        <img src="https://placehold.co/300x230" class="card-img-top" alt="Hotel Image">
                    {% else %}
                        <img src="{% url 'main:serve_image' file_id=hotel.cover_picture.id_str %}" class="card-img-top" alt="Hotel Image" style="height: 230px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body text-start">
                        <h3 class="card-title">{{ hotel.h_name }}</h3>
                        <p class="card-text mb-2">Cidade: {{ hotel.city }}</p>
                        <p class="card-text">
                            {% for _ in "x"|rjust:hotel.stars %}⭐{% endfor %} 
                            ( {{ hotel.stars }} estrelas )
                        </p>
                        <div class="text-end">
                            <a href="{% url 'review:hotel_reviews' hotel_id=hotel.id %}" class="btn btn-info btn-sm">Avaliações</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- Inspiration Section -->
<section class="inspiration my-5">
    <div class="container">
        <h2>Inspira-te para a tua próxima viagem</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="https://via.placeholder.com/600x300" class="img-fluid" alt="Cityscapes and Culture">
                <p>Cidades e culturas</p>
            </div>
            <div class="col-md-6">
                <img src="https://via.placeholder.com/600x300" class="img-fluid" alt="Adventures and Nature">
                <p>Aventura e Natureza</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
