{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-4">
    <a class="navbar-brand ml-3" href="{% url 'index' %}">
        <img src="{% static 'images/luxehorizon.png' %}" alt="Logo" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark" id="navbarContent" >
        <ul class="navbar-nav mx-auto ">
            <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                <a href="{% url 'index' %}" class="nav-link text-white ">Home</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'discover' %}active{% endif %}">
                <a href="#" class="nav-link text-white">Discover</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'hotels' %}active{% endif %}">
                <a href="#" class="nav-link text-white">Hotels</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                <a href="#" class="nav-link text-white">About</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
                <a href="#" class="nav-link text-white">Contact</a>
            </li>
        </ul>

        <!-- Right-aligned buttons for Register, Login, and Logout -->
        <div class="ml-3 d-flex align-items-center">
            {% if request.user.is_authenticated %}
                <!-- Dropdown Menu for Authenticated Users -->
                <div class="dropdown ">
                    <a href="#" id="profileDropdown" class="dropdown-toggle d-flex align-items-center mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <img src="https://robohash.org/placeholder.png?size=200x200" alt="Profile Picture" class="rounded-circle bg-light" width="40" height="40" >
                    </a>
                    <div class="dropdown-menu dropdown-menu-right " aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">Perfil</a>
                        <a class="dropdown-item" href="{% url 'admin_dashboard' %}">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <form method="POST" action="{% url 'logout' %}" class="dropdown-item m-0 p-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link w-100 text-left p-10">Terminar Sess&atilde;o</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <!-- Register and Login Buttons for unauthenticated users -->
                <a href="{% url 'register' %}" class="btn btn-outline-primary mr-2">Registo</a>
                <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sess&atilde;o</a>
            {% endif %}
        </div>
        
    </div>
</nav>
