{% extends "layouts/base_with_sidebar.html" %}

{% block title %}Quartos{% endblock %}

{% block main_content %}
<div class="container my-4">
    <h1>Quartos do Hotel: {{ hotel.h_name }}</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Add Button -->
        <a href="{% url 'create_room' hotel.id %}" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Adicionar Quarto
        </a>
        <form class="d-flex" method="get" action="">
            <input class="form-control me-2" type="search" name="type_initials" placeholder="Pesquisar Tipo de Quarto" aria-label="Search" value="{{ request.GET.type_initials}}">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
    </div>

    <!-- Room Table -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Número</th>
                    <th>Tipo</th>
                    <th>Capacidade</th>
                    <th>Preço Base (&#8364;)</th>
                    <th>Condição</th>
                    <th>A&ccedil;&otilde;es</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <td class="text-center">{{ room.room_number }}</td>
                    <td>{{ room.type.type_initials }}</td>
                    <td class="text-center">{{ room.get_capacity_display }}</td>
                    <td class="text-end">{{ room.base_price }}</td>
                    <td class="text-center">
                        {% if room.condition == 0 %}
                            Disponível
                        {% elif room.condition == 1 %}
                            Sujo
                        {% elif room.condition == 2 %}
                            Em Manutenção
                        {% else %}
                            Desconhecido
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'room_edit' hotel.id room.id %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i> Editar</a>
                        <a href="{% url 'delete_room' hotel.id room.id %}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Apagar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">N&atilde;o h&aacute; quartos para mostrar.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
