{% extends "layouts/base_with_sidebar.html" %}

{% block title %}Importar Quartos{% endblock %}

{% block main_content %}
<div class="container my-4">
    <h1>Importar Quartos para o Hotel: {{ hotel.h_name }}</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="rooms_json_file" class="form-label">Arquivo JSON</label>
            <input type="file" name="rooms_json_file" id="rooms_json_file" class="form-control" accept=".json" required>
        </div>
        <button type="submit" class="btn btn-primary">Importar</button>
        <a href="{% url 'room_list' hotel.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
