{% extends "layouts/base_with_sidebar.html" %}

{% block title %}
    {% if room.id %}
        Editar Quarto: {{ room.room_number }}
    {% else %}
        Adicionar Quarto ao Hotel: {{ hotel.h_name }}
    {% endif %}
{% endblock %}

{% block main_content %}
<div class="container my-4">
    <h1>
        {% if room.id %}
            Editar Quarto: {{ room.room_number }}
        {% else %}
            Adicionar Quarto ao Hotel: {{ hotel.h_name }}
        {% endif %}
    </h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.type.label_tag }}
            {{ form.type }}
        </div>
        
        <div class="mb-3">
            {{ form.room_number.label_tag }}
            {{ form.room_number }}
        </div>
        
        <div class="mb-3">
            {{ form.base_price.label_tag }}
            {{ form.base_price }}
        </div>
        
        <div class="mb-3">
            {{ form.condition.label_tag }}
            {{ form.condition }}
        </div>
        
        <div class="mb-3">
            {{ form.capacity.label_tag }}
            {{ form.capacity }}
        </div>
        
        <button type="submit" class="btn btn-primary">
            {% if room.id %}Guardar Alterações{% else %}Guardar{% endif %}
        </button>
        <a href="{% url 'room_list' hotel.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
