{% extends "layouts/base_with_sidebar.html" %}

{% block title %}Lista de Reservas{% endblock %}

{% block main_content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Reservas</h1>

    <div class="d-flex justify-content-between mb-4">
        <form class="d-flex" method="get" action="">
            <select class="form-select me-2" name="month">
                <option value="">Todos os meses</option>
                {% for month in months %}
                <option value="{{ month.value }}" {% if selected_month == month.value|stringformat:"s" %}selected{% endif %}>
                    {{ month.name }} ({{ month.count }})
                </option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-success" type="submit">Filtrar</button>
        </form>

        <!-- Search Bar -->
        <form class="d-flex" method="get" action="">
            <input class="form-control me-2" type="search" name="q" placeholder="Pesquisar Reservas" aria-label="Search" value="{{ request.GET.q }}">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
    </div>

    <!-- Reservations Table -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover shadow-sm rounded">
            <thead class="bg-dark text-light">
                <tr>
                    <th class="text-center">Nome</th>
                    <th class="text-center">NIF</th>
                    <th class="text-center">Título</th>
                    <th class="text-center">Check-in</th>
                    <th class="text-center">Check-out</th>
                    <th class="text-center">Noites</th>
                    <th class="text-center">Preço (€)</th>
                    <th class="text-center">Estado</th>
                    {% if has_actions %}
                    <th class="text-center">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.client }}</td>
                    <td class="text-center">{{ reservation.nif }}</td>
                    <td>{{ reservation.title }}</td>
                    <td class="text-center">{{ reservation.check_in|date:"d/m/Y" }}</td>
                    <td class="text-center">{{ reservation.check_out|date:"d/m/Y" }}</td>
                    <td class="text-center">{{ reservation.nights }}</td>
                    <td class="text-end">{{ reservation.price }} €</td>
                    <td class="text-center">{{ reservation.status }}</td>
                    {% if has_actions and reservation.status != 'CC' or reservation.status != 'CO' %}
                <td class="text-center">
                    {% if reservation.status == 'P' %}
                    <a href="{% url 'reservation_details' reservation.id %}" class="btn btn-sm btn-primary" title="Detalhes">
                        <i class="bi bi-info-circle"></i> Pagar
                    </a>
                    {% endif %}
                    {% if reservation.status == 'C' %}
                    <a href="{% url 'check_in' reservation.id %}" class="btn btn-sm btn-primary" title="Check-in">
                        <i class="bi bi-info-circle"></i> Check-in
                    </a>
                    {% endif %}
                    {% if reservation.status == 'CI' %}
                    <a href="{% url 'check_out' reservation.id %}" class="btn btn-sm btn-warning" title="Check-out">
                        <i class="bi bi-pencil"></i> Check-out
                    </a>
                    {% endif %}
                    {% if reservation.status == 'C' or reservation.status == 'P' %}
                    <a href="" class="btn btn-sm btn-danger" title="Apagar">
                        <i class="bi bi-trash"></i> Cancelar
                    </a>
                    {% endif %}
                </td>
                {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        Não há reservas disponíveis para exibição.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}