{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h2>Confirmar Reserva</h2>
    <p><strong>Hotel:</strong> {{ hotel_id }}</p>
    <p><strong>Quarto:</strong> {{ room.room_number }}</p>
    <p><strong>Check-in:</strong> {{ checkin }}</p>
    <p><strong>Check-out:</strong> {{ checkout }}</p>
    <p><strong>Número de Hóspedes:</strong> {{ guests }}</p>
    
    
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="room_id" value="{{ room.id }}">
        <input type="hidden" name="hotel_id" value="{{ hotel_id }}">
        <input type="hidden" name="checkin" value="{{ checkin }}">
        <input type="hidden" name="checkout" value="{{ checkout }}">
        <input type="hidden" name="guests" value="{{ guests }}">
        <button type="submit" class="btn btn-success">Confirmar Reserva</button>
    </form>
</div>
{% endblock %}
